;;; personal-information.el --- setting for personal information -*- mode: emacs-lisp; coding: utf-8-unix -*-

;;; Commentary:
;; 個人情報の設定

;;; Code:

;; ユーザー名
(setq user-full-name "Your Name")

;; メールアドレス
(setq user-mail-address "your-address@example.com")

;; メモディレクトリ
(setq my-memo-dir "/path/to/memo_dir")

;; ネットワーク接続可否
(setq can-connect-network t)

;; personal-information.el ends here

